<table mat-table [dataSource]="dataSource" matSort [fixedLayout]="true" class="w-full item-selector-table">
  <!-- TH/TD templates -->
  <ng-container *ngFor="let columnDef of columnDefs" [matColumnDef]="columnDef.key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-blue-ptg-secondary-500">
      {{ columnDef.labelTranslateKey | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="columnDef.pipeName">
        {{ element[columnDef.key] | applyPipe: columnDef.pipeName:columnDef.pipeArgs }}
      </ng-container>
      <ng-container *ngIf="!columnDef.pipeName">{{ element[columnDef.key] }}</ng-container>
      <mat-icon
        *ngIf="columnDef.key === 'selected' && isSelected(element)"
        aria-hidden="false"
        [attr.aria-label]="'shared.dialogItemSelector.itemIsSelected' | translate"
        >check</mat-icon
      >
    </td>
  </ng-container>
  <!-- TR templates -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    mat-row
    (click)="clickRow(row)"
    (dblclick)="dblclickRow(row)"
    class="select-none cursor-pointer"
    [class.bg-neutral-100]="isHighlighted(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
