.projects-list-table {
  .mat-column-id {
    width: 70px;
  }

  .mat-column-name {
    width: 400px;
  }

  .mat-column-ordinary {
    width: 60px;
  }

  .mat-column-status {
    width: 70px;
  }

}
