<parteng-how-to-box [title]="'project.pageProjectForm.howToCreateBlock.title' | translate">
  <p class="text-sm pb-2">{{ 'project.pageProjectForm.howToCreateBlock.stepsList' | translate }}</p>
  <ol class="list-decimal pl-4 text-sm font-semibold">
    <li>{{ 'project.pageProjectForm.howToCreateBlock.step1' | translate }}</li>
    <li>{{ 'project.pageProjectForm.howToCreateBlock.step2' | translate }}</li>
    <li>{{ 'project.pageProjectForm.howToCreateBlock.step3' | translate }}</li>
    <li>{{ 'project.pageProjectForm.howToCreateBlock.step4' | translate }}</li>
  </ol>
  <p class="text-sm pt-4">
    {{ 'project.pageProjectForm.howToCreateBlock.useATemplate' | translate }}
  </p>
</parteng-how-to-box>
